#### We Cover
- PySpark Dataframe 
- Reading The Dataset
- Checking the Datatypes of the Column (Schema)
- Selecting Columns and Indexing
- Check Describe option similar to Pandas
- Adding Columns
- Dropping columns
- Renaming Columns

In [1]:
from pyspark.sql import SparkSession

In [2]:
import pandas as pd

In [3]:
pd.read_csv("test.csv", delimiter=";")

,name,age
0,krish,31
1,sudan,30
2,sunny,29

In [4]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [5]:
spark

In [11]:
## read the dataset
#df_pyspark=spark.read.option('header','true').csv('test1.csv',sep=';',inferSchema=True)

In [20]:
df_pyspark = spark.read.csv("test1.csv", header=True, inferSchema=True, sep=";")

In [21]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [23]:
df_pyspark.head(3)

[Row(Name='krish', age=31, Experience=10),
 Row(Name='sudanshu', age=30, Experience=4),
 Row(Name='sunny', age=29, Experience=2)]

In [24]:
df_pyspark.show()

+--------+---+----------+
|    Name|age|Experience|
+--------+---+----------+
|   krish| 31|        10|
|sudanshu| 30|         4|
|   sunny| 29|         2|
|   sachi| 28|         0|
+--------+---+----------+

In [25]:
df_pyspark.select(['Name','Experience']).show()

+--------+----------+
|    Name|Experience|
+--------+----------+
|   krish|        10|
|sudanshu|         4|
|   sunny|         2|
|   sachi|         0|
+--------+----------+

In [ ]:
df_pyspark['Name']

Column<'Name'>

In [26]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int')]

In [27]:
df_pyspark.describe().show()

+-------+-----+------------------+-----------------+
|summary| Name|               age|       Experience|
+-------+-----+------------------+-----------------+
|  count|    4|                 4|                4|
|   mean| null|              29.5|              4.0|
| stddev| null|1.2909944487358056|4.320493798938574|
|    min|krish|                28|                0|
|    max|sunny|                31|               10|
+-------+-----+------------------+-----------------+

In [ ]:
### Adding Columns in data frame
df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2)

In [ ]:
df_pyspark.show()

+---------+---+----------+-----------------------+
|     Name|age|Experience|Experience After 2 year|
+---------+---+----------+-----------------------+
|    Krish| 31|        10|                     12|
|Sudhanshu| 30|         8|                     10|
|    Sunny| 29|         4|                      6|
+---------+---+----------+-----------------------+

In [28]:
### Drop the columns
df_pyspark=df_pyspark.drop('Experience After 2 year')

In [29]:
df_pyspark.show()

+--------+---+----------+
|    Name|age|Experience|
+--------+---+----------+
|   krish| 31|        10|
|sudanshu| 30|         4|
|   sunny| 29|         2|
|   sachi| 28|         0|
+--------+---+----------+

In [30]:
### Rename the columns
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+
|New Name|age|Experience|
+--------+---+----------+
|   krish| 31|        10|
|sudanshu| 30|         4|
|   sunny| 29|         2|
|   sachi| 28|         0|
+--------+---+----------+